.events-control {
  text-align: center;
  border: 1px solid rgb(44, 211, 203);
  padding: 1rem;
  margin: 2rem auto;
  width: 30rem;
  max-width: 80%;
}

div.form-control input,
div.form-control textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 90%;
}